name = "ecommerce-app"
main = "server.js"
compatibility_date = "2024-09-23"
compatibility_flags = ["nodejs_compat"]
account_id = "1b2eef7a4f54a62b5315720ac41c5857"

[vars]
JWT_SECRET = "sbvecommerce"
ADMIN_EMAIL = "admin@gmail.com"
ADMIN_PASSWORD = "admin@12345"

[[r2_buckets]]
binding = "R2_BUCKET"
bucket_name = "e-comerce"

[[d1_databases]]
binding = "DB"
database_name = "ecommerce-db"
database_id = "f935967a-692d-427e-81e1-b08076ac9281"
