name = "ecommerce-app"
main = "server.js"
compatibility_date = "2024-09-23"
compatibility_flags = ["nodejs_compat"]
account_id = "1b2eef7a4f54a62b5315720ac41c5857"

[[r2_buckets]]
binding = "R2_BUCKET"
bucket_name = "e-comerce"

[build]
command = ""

